body {
  background-color: white;
}

/* adds color to menu bar centers items inside it */

nav {
  display: flex;
  justify-content: left;
  background-color: #f8f8f8;
  height: 80px;
  align-items: center;
  font-size: 21px;
  font-family: arial;
}

/* drop down houses the entire drop down menu */

.dropdown {
  font-size: 21px;
  border: none;
  position: relative;
  display: inline-block;
  border: none;
  z-index: 1;
}

#caret {
  font-size: 16px;
}
/* styles the menu buttons */

.menuBtn {
  padding: 16px;
}

/* styles the drop down button */
.dropBtn {
  padding: 16px;
  border: none;
  font-size: 21px;
}

/* places the dropdown content */

.dropdown-content {
  display: none;
  position: absolute;
}

/* makes links in drop down black and removes line  */

.dropdown-content a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 10px 12px;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

.dropBtn:hover {
  background-color: #04aa6d;
  color: white;
}

.menuBtn:hover {
  background-color: #04aa6d;
  color: white;
}

.dropdown-content a:hover {
  background-color: #f8f8f8;
  padding: 10px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
